doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="/css/estilos.css")
body
	div#login
		label(for="nickname") Registra tu nickname: 
		input#nickname(autofocus)

	div#chat(style="display:none")
		h2 Bienvenido al chat

		label(for="message") Tu mensaje aqui: 
		input#message

		ul#messages



	script(src="/socket.io/socket.io.js")
	script(src="/js/jquery.min.js")
	script(src="/js/app.js")

	